<% events.forEach(event => { %>
    <ul>
        <li><img height="150" width="100" src="<%= event.eventImagePath %>"></li>
        <h1><%=event.title%></h1>
        <li><%= event.description %></li>
        <li><%= event.startingDate.toUTCString()%></li>
        <li><%= event.closingDate.toUTCString() %></li>
        <li><a class="show-event" href="/events/<%=event.id%>/show" >Show</a></li>
        <li><a class="update-event" href="/events/edit/<%=event.id%>" >edit</a></li>
        <li><a class="delete-event" href="#" data-id="<%=event.id%>">Delete</a></li>
    </ul>
   
<% });%>
<%= events.length %>
<li><a href="/events/new">Add New Post</a></li>