<div class="co text-center">
  <li><img height="400" width="400" src="<%= event.eventImagePath %>"></li>
  <h1><%= event.title %></h1>
  <p><%= event.description %></p>
  <h4><%= event.startingDate %></h4>
  <h4><%= event.closingDate %></h4>
  <% const counter = event.goings.length >= 2 ? "People going" : "Person going"; %>
  <button class="show-comments"><%= event.goings.length + " " + counter + "" %></button>
  <span>Click Yes if you are coming</span>
  <a class="goingevent" href="/events/<%=event.id%>/going" >Yes</a>
</div>

