<%- include('../partials/header.ejs') %> 


<div class="container" >
	<div class="event-title-background">
		<h1 class="event-title-theme" style="display:inline;">THEME:</h1> <h2 class="event-title" style="display:inline;"><%=event.title %></h2>
	</div>
	<div class="row">
		<span class='show-event-start1 text-secondary'>Starting:</span>
		<span class='show-event-start2 text-secondary'><%= event.startingDate.toString().split(' ').slice(0, 4).join(' '); %></span>
		<span class='show-event-start3 text-secondary'>@</span>
		<span class='show-event-start4 text-secondary'><%= event.startingDate.toString().split(' ').slice(-6, 5) %></span>
	</div>
	<div class="row">
		<span class='show-event-start1 text-secondary'>Ends:</span>
		<span class='show-event-start2 text-secondary'><%= event.startingDate.toString().split(' ').slice(0, 4).join(' '); %></span>
		<span class='show-event-start3 text-secondary'>@</span>
		<span class='show-event-start4 text-secondary'><%= event.startingDate.toString().split(' ').slice(-6, 5) %></span>
  	</div>
   
    <div class="show-event-image col-md-12">
        <img style='float:left;width:400px;height:400px; margin-right:8vw;' src="<%= event.eventImagePath %>" />
		<p class="events-description"><%= event.description %></p>
		
		<div id="wrap">
			<!-- <p>Your email address will not be published. Required fields are marked *</p>   -->
			<div id='form'>
			  <div class="row">
					<div class="comment-form-background col-md-12">
					  <form action="/events/<%=event._id%>/eventcomment" method="post" id="commentform">
							<div id="comment-name" class="form-row">
							  <input type = "text" placeholder = "Name (required)" name="name"  id="name" >
							</div>
							<div id="comment-message" class="form-row">
							  <textarea name="description" placeholder = "Message" id="comment" ></textarea>
							</div>
							<a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment" class="btn btn-success"></a>
					  </form>
					</div>
			  </div>
			</div>
	  	</div>
	</div>
	
	<table class="table table-striped table-dark">
		<tbody>
	  		<tr>
				<td><% const counter2 = event.eventcomments.length >= 2 ? "Comments" : "Comment"; %>
					<button class="show-comments btn btn-secondary" ><%= event.eventcomments.length + " " + counter2 + "" %></button>
		  				<% %>
				</td>
				<td class="" style="font-weight: bold; color: black;"><% const counter = event.going + event.coming_with >= 2 ? "People going" : "Person going"; %>
					<button id="show-attendance " ><%= event.going + event.coming_with + " " + counter + "" %></button>
				</td>
				<td>
					<label for="click" class="click-me btn btn-success" href="#" data-id="<%=event.id%>">I'm Going</label>
				</td>
			</tr>
		</tbody>
	</table> 

		<input type="checkbox" id="click">
	   <div class="content">
		   <div class="popupheader">
				 <h2>HALLELUYAH! GOD BLESS YOU</h2>
				 <label for="click" class="fa fa-times"></label>
		   </div>
		   <h3 id="thankyou">Are you coming with someone? </h3> 
		   <div class="columnContainer">
			   <button type="button" id="yes" class="btn btn-success col-md-4 col-md-offset-1">Yes</button>
			   <button type="button" id="no" class="btn btn-info col-md-4 col-md-offset-1">No</button>
		   </div>
		   
		   <div id="coming_with"> choose how many people you want to come with</div>

		   <form action="/events/<%=event.id%>/coming_with" method="POST" id="my_with">
			   <select name="coming_with" id="chooseNumber">
				   <option>Choose a number</option>
			   </select>
			   <button id="send_coming_with" type="submit">send</button>
		   </form >
		   <div class="line"></div>
		   <label for="click" class="close-btn">Close</label>
	   </div>
   
	
	<div class="postcomments" ><% event.eventcomments.forEach(item => { %>
		<ul >
			<li><%= item.description %></li>
		  	<a class="delete-event-comment" href="#" data-id="<%=event.id%>/<%=item._id%>">Delete</a>
		</ul>
  <% });%>
  </div>
</div>

