<% items.forEach(item => { %>
    <ul>
        <h1><%=item.title%></h1>
        <li><%= item.body %></li>
        <li><%= item.author %></li>
        <li><%= item.date %></li>
        <img src="<%= item.profileimage %>" alt="image">
        <li><a class="show-article" href="/post/<%=item.id%>/comments" >Show</a></li>
        <li><a class="delete-article" href="#" data-id="<%=item.id%>">Delete</a></li>
    </ul>
   

<% });%>
<%= items.length %>
<li><a href="/newpost">Add New Post</a></li>



