<div class="col-xs-1 text-center">
  <h1><%= post.title %></h1>
  <p><%= post.body %></p>
  <% let formatted_date = post.date.getFullYear() + "-" + (post.date.getMonth() + 1) + "-" + post.date.getDate() + " " + post.date.getHours() + ":" + post.date.getMinutes() %>
  <h4><%= formatted_date %></h4>
  <% const counter = post.comments.length >= 2 ? "Comments" : "Comment"; %>
  <button class="show-comments"><%= post.comments.length + " " + counter + "" %></button>
  <% %>
  <div class="postcomments" ><% post.comments.forEach(item => { %>
    <ul >
      <li><%= item.body %></li>
    </ul>
  <% });%></div>
</div>


<!------------container------->

<div class="container">

<!-------Wrap------------>
<div id="wrap">

<p>Your email address will not be published. Required fields are marked *</p>

<!------------Form Start---------->

<div id='form'>
<div class="row">
<div class="col-md-12">

<form action="" method="POST" id="commentform">

<div id="comment-name" class="form-row">
<input type = "text" placeholder = "Name (required)" name = "dname"  id = "name" >
</div>
<div id="comment-message" class="form-row">
<textarea name = "comment" placeholder = "Message" id = "comment" ></textarea>
</div>
<a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment"></a>
<p1><b>Notify me when new comments are added.</b></p1>
</form>

</div>
</div>
</div>
</div>





