<%- include('../partials/header.ejs') %>

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="padding-top: 330px">
  <div class="row">
    <% programs.forEach(program => { %>
    <div class="col-sm-4 col-md-4">
      <div class="post">
        <div class="post-img-content">
          <img src="<%= program.programImage%>" class="img-responsive" />
          <span class="post-title"
            ><b><%= program.title%></b><br />
            <b>CSS3 Blur</b></span
          >
        </div>
        <div class="content">
          <div class="author">
            By <b>Bhaumik</b> |
            <time datetime="2014-01-20"><%= program.createdAt%></time>
          </div>
          <div><%= program.description%></div>
          <div>
            <a
              href="/programs/<%=program.id%>/programcomments"
              class="btn btn-warning btn-sm"
              >Read more</a
            >
          </div>
          <ul>
            <a href="/programs/<%= program.id %>/edit">Edit</a>

            <li>
              <a
                class="show-program"
                href="/programs/<%=program.id%>/programcomments"
                >Show</a
              >
            </li>
          </ul>

          <a class="delete" href="#" data-doc="<%= program._id%>">Delete</a>
        </div>
      </div>
    </div>
    <% });%>
  </div>
  <li><a href="/programs/new">Add New Program</a></li>
</div>

<script>
  const trashcan = document.querySelector("a.delete");
  trashcan.addEventListener("click", (e) => {
    const endpoint = `/programs/${trashcan.dataset.doc}`;
    fetch(endpoint, {
      method: "DELETE",
    })
      .then((response) => response.json())
      .then((data) => (window.location.href = data.redirect))
      .catch((error) => console.log(error));
  });
</script>
