<%- include('../partials/header.ejs') %> 

<section class="welcome-area section-padding3">
    <div class="container" style="padding-top: 150px;">
        <div class="row" >
            <div class="col-lg-6 align-self-center" style=" 
                                                        display: block;
                                                        margin-left: auto;
                                                        margin-right: auto;">
                <div class="welcome-img-show" >
                    <img  src="<%= program.programImage %>"  alt="">
                </div></a>
            </div>
            <div class="col-lg-7" style=" 
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto; 
                                    text-align: center;" > 
                <div class="welcome-text mt-5 mt-lg-0" >
                    <h2><%=program.title %></h2>
                    <p class="pt-3"><%= program.description %></p>
                </div>
            </div>
        </div>
    </div>
</section>
  

    <div class="write-new">

        <form action="/programs/<%=program._id%>/programcomment"  id="commentform" method="POST"  >
            <div id="cot-nme" >
                <input type = "text" placeholder = "Name (required)" name="name"  id="name" >
            </div>
            <div>
                  <textarea name="description" rows="10" cols="30"></textarea>
            </div>
            <div class="text-cter">       
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>


    <section class="comment-section">
        <% const counter = program.programcomments.length >= 2 ? "Comments" : "Comment"; %>
            <div class="show-comments">  
                <button class="show-comments" ><%= program.programcomments.length + " " + counter + "" %></button>
            </div> 
        <% %>
        <div class="pments" ><% program.programcomments.forEach(item => { %>
            <div class="comment user-comment">
                <div class="info">
                    <a href="#"><%= item.name %></a>
                    <span><%= moment(item.createdAt).fromNow(); %></span>
                </div>
                <a class="avatar" href="#">
                    <img src="http://i63.tinypic.com/2r3ec1t.png" width="35" alt="Profile Avatar" title="Amanda Quick" />
                </a>
                <p><%= item.description %></p>
                <a class="delete-program-comment" href="#" data-id="<%=program.id%>/<%=item._id%>">Delete</a>
            </div>
        <% });%> 
    </section>   
	