<%- include('../partials/header.ejs') %> 

	
    <main style="padding-top: 120px;">
        
        <h1>Classic Columns Blog Post List</h1>
        
        <div class="post-list post-list_columns">
            <% posts.forEach(post => { %>
            <!-- Post 1 -->
            <div class="post-list__post post">
                <figure class="post__preview-img">
                    <a href="#"><img src="<%= post.coverImagePath %>" alt="img description" /></a>
                </figure>
                
                <div class="post__header">
                    <time datetime="2019-12-12" class="post__time"><%= post.createdAt %></time>
                    <h2><a href="#"><%=post.title%></a></h2>
                </div>
                
                <div class="post__announce">
                    <p><%= post.description %></p>
                </div>

                <div class="post__meta">
                    <a href="#"><%= post.from %></a>
                    <a href="#" class="post__comments">10</a>
                </div>
                <a class="update-article" href="/posts/edit/<%=post.id%>" >edit</a>
            <a class="delete-article" href="#" data-id="<%=post.id%>">Delete</a>  	
            </div>   
              
            <% });%>   
        
        </div><!-- / .post-list -->
        <%= posts.length %>
        <li><a href="/posts/new">Add New Post</a></li>
    </main>