<%- include('../partials/header.ejs') %> 
<main role="main">
    <ul class="flexgrid columns-news">
        <% posts.forEach(post => { %>
            <li>   
                <a href="/posts/<%=post.id%>/comments" >
                    <span class="grid-number"><%=post.title %></span>
                    <figure class="gallery-image">
                        <img src="https://churchbucket.s3-us-west-2.amazonaws.com/public/uploads/postImages/<%=post.postImage%>">

                        <figcaption>
                            <p class="post-from">
                                <%= post.from%>
                            </p>
                            <h2 class="post-d">
                                <%= post.createdAt.toString().split(' ').slice(0, 4).join(' ');%>
                            </h2>
                            <h2 class="post-descr">
                                <%= post.description %>
                            </h2>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li><a class="delete-article" href="#" data-id="<%=post.id%>">Delete</a></li>

        <% });%> 
    </ul>

</main>